*{
    margin: 0;
    padding: 0;
}
.main_conatiner{
  height: 100vh;
  width: 100vw;
}
.fairst_con{
    height: 50vh;
    width: 100vw;
    /* border: 1px solid black; */
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
    
}
.second_con{
    height: 50vh;
    width:100vw;
    /* border: 1px solid black; */

}
.fairst_con img{
    height: 50vh;
    width: 100vw;
}
.leftdiv{
    height:85%;
    width: 25%;
    border: 1px solid white;
}
.rightdiv{
    height: 85%;
    width:25%;
    border: 1px solid white;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:8%;
    align-items: center;
}
.ani{
    height:30px;
    width: 250px;
    position: absolute;
}
.a h2{
    position: relative;
}
#Get{
    font-size:1.6rem;
    font-family: Gilroy-Bold;
    position: relative;
    bottom:45px;
    /* left: 20px; */
    right: 30%;
}
#Mobile_number{
   position: relative;
   bottom: 40px;
   left:20px ;
}
.rightdiv input{
    height:18%;
    width: 88%;
    position: relative;
    /* left:5%; */
    border-radius: 15px;
    bottom: 20px;
    text-align: center;
    /* border-color: rgb(223, 220, 220);
    border-top-color: rgb(223, 220, 220) ; */
    border: 0.5px solid  rgb(223, 220, 220);
}
.rightdiv button{
    height:15%;
    width: 90%;
    position: relative;
    /* left:5%; */
    border-radius: 8px;
    border: none;
    background-color:rgb(220, 219, 219);
    color: white;
}
.rightdiv input::placeholder{
     font-size:15px;

}
hr{
    width:80px;
}
#lastp{
    position: relative;
    top: 40px;
}
